/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#box{
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 150px;
}
.hidden {
    display: none;
}

#footer{
    height: 25px;
    width: 100%;
    font-size: 10px;
    color:#00ACE9;
    text-decoration-color:#2E2F30 ;
    padding-top: 10px;
    padding-right: 20px;
    text-align:right;
    clear:both;
    background: #333536 left top repeat-x;
    position: fixed;
    bottom: 0;
}

#footer a{
    color: #00ACE9;
    font-size: 10px;
}

/*Fix modal black window*/
.modal-backdrop {
    z-index: -1;
}
.btn-holder{
    width: 60px;
}
.input-generic{
    width: 100%;
}
/* loader principal */
#preloader  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
    height: 100%;
}
#status  {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}
/* fin loader principal */
.btn-back {
    float: right;
}
.btn-holder i, .btn-add i {
    margin-right: 0;
}
#botones button{
    width: 100%;
}
.max-width{
    width: 100%;
}
#driver-com{
    height: 150px;
}
.ui-front{
    z-index: 1050;
}
