<!DOCTYPE html>
<html>
<head>
  <title>MetalGear</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= stylesheet_link_tag    'metisMenu.min', media: 'all'%>
  <%= stylesheet_link_tag    'timeline', media: 'all'%>
  <%= stylesheet_link_tag    'sb-admin-2', media: 'all'%>
  <%= stylesheet_link_tag    'morris', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'metisMenu' %>
  <%= javascript_include_tag 'raphael.min' %>
  <%= javascript_include_tag 'morris.min' %>
  <%= javascript_include_tag 'sb-admin-2' %>
  <%= csrf_meta_tags %>

</head>
<body id="principal" class="principal-color" >
<div id="preloader">
  <div id="status">
    <img src="../../images/preloader.gif" height="64" width="64" alt="">
  </div>
</div>
<div id="wrapper">
  <%= render 'layouts/menu' %>
  <%= yield %>
</div>
</body>
</html>
